.App {
	background-color: rgb(189, 189, 189);
	text-align: center;
	background-size: cover;
	max-height: fit-content;
	min-height: 100vh;
}

.title {
	color: ghostwhite;
	text-decoration: none;
}

.sidebar {
	background-color: #2b2bf3;
	margin-bottom: 2vh;
	color: ghostwhite;
}

.link {
	display: inline;
	padding: 10px;
	color: ghostwhite;
	text-decoration: underline;
}

nav {
	padding: 10px 0;
}

.bold {
	font-weight: bold;
}
.main {
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 100px;
}
.logos img {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	height: 20%;
	width: 20%;
}
/* .products {

} */
.products img {
	height: 20vh;
	padding: 10px;
}
.product {
	padding: 5px;
	padding-left: 15vw;
	padding-right: 15vw;
	
	
}

.carousel img {
	max-width: 70vw;
}
ul{
	list-style-type: none;
}