.App {
	background-color: rgb(189, 189, 189);
	text-align: center;
	background-size: cover;
	max-height: fit-content;
	min-height: 100vh;
}

.title {
	color: ghostwhite;
	text-decoration: none;
}

.sidebar {
	background-color: #5e5ec4;
	margin-bottom: 2vh;
}

.link {
	display: inline;
	padding: 10px;
	color: ghostwhite;
	text-decoration: underline;
}

nav {
	padding: 10px 0;
}
