.App {
	background-color: rgb(255, 255, 255);
	background-size: cover;
	max-height: fit-content;
	min-height: 100vh;
	max-width: 100vw;
}

.title {
	color: ghostwhite;
	text-decoration: none;
	text-align: left;
	margin-left: 10px;
	padding-right: 40vw;
}

nav button {
	background-color: #2b2bf3;
	color: ghostwhite;
	border: none;
	max-width: 15vh;
	max-height: 15vh;
	min-width: fit-content;
	min-height: fit-content;
	text-align: center;
}
nav button:hover {
	background-color: ghostwhite;
	color: black;
}
nav {
	text-align: right;
}

.sidebar {
	background-color: #2b2bf3;

	color: ghostwhite;
	
}
nav {
	height: max-content;
}

.carousel {
	width: 99vw;
	min-height: 50vh;
	background-color: black;
	padding-top: 1em;
	text-align: center;
}
.carousel img {
	max-width: 60vh;
}
.text {
	margin-left: 5vw;
	margin-right: 5vw;
}
.bold {
	font-weight: bold;
}
.logos {
	text-align: center;
	background-color: gray;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5vh;
}
.logos img {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	max-height: 20%;
	max-width: 20%;
}

.homeCard {
	margin: 0 auto;
	width: 40vw;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.card img {
	max-height: 30vh;
	max-width: 30vh;
}
.card {
	width: 49vw;
	min-height: 50vh;
}

.products img {
	max-height: 30vh;
	max-width: 60vw;
	padding: 10px;
}
.product {
	padding: 5px;
	padding-left: 15vw;
	padding-right: 15vw;
	height: 40%;
}

ul {
	list-style-type: none;
}
footer {
	text-align: center;
	padding-top: 25px;
}
.review {
	padding-top: 10px;
}

footer {
	margin-top: 5vh;
	padding-top: 0;
}
@media only screen and (max-width: 750px) {
	.cards {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card {
		width: 80vw;
		min-height: 50vh;
	}
	.homeCard {
		min-height: 80vh;
		max-height: fit-content;
		width: 45vw;
	}
	.title {
		padding-right: 20vw;
	}
}
