.App {
	background-color: rgb(38, 61, 61);
	text-align: center;
	background-size: cover;
	max-height: fit-content;
	min-height: 100vh;
	color: ghostwhite;
}

.sidebar {
	background-color: #70707a;
}

.sidebar p {
	display: inline;
	padding: 10px;
	color: ghostwhite;
	text-decoration: none;
}

nav {
	padding: 10px 0;
}
